@import "../index.scss";
.add_btn{
    border: 1px solid gray  !important;
    color: gray;
    cursor: text;
}
.btn-info{
    background-color: rgba(255, 255, 0,0.9);

}
.modal-content{
    background-color: $bgColor !important;

}

.modal-content {
    h3{
        color: white;
    }
  input, textarea  {
background-color: transparent !important;
border: 1px solid gray;
margin-top:2rem ;
color: white !important;
    }
}
.note{
 border: 1px solid gray;
 border-radius: 5px;
  width:100%;
 p,h3{
     overflow:hidden ;
     color: white;
 }
}

.dropdown .dropdown-menu{
    .dropdown-item:hover{
        background-color: rgba(0, 0, 0,0.7) !important;
    }
    background-color: $bgColor !important ;
    border: 1px solid gray;
    cursor: pointer;
    color: white !important ;
}